.nucleo-icons-style,
.nucleo-icons-style,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* .nucleo-icons-style5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

.nucleo-icons-style {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* --------------------------------

Nucleo Outline Web Font - nucleoapp.com/
License - nucleoapp.com/license/
Created using IcoMoon - icomoon.io

-------------------------------- */

/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

.nucleo-icons-style {
    font-size: 62.5%;
}

.nucleo-icons-style {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: #efefef;
}

a {
    color: #766acf;
    text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */

header {
    text-align: center;
    padding: 120px 0 0;
}

header h1 {
    font-size: 1.2rem;
}

header p {
    font-size: .9rem;
    margin-top: .6em;
}

header a:hover {
    text-decoration: underline;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

section h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em .2em;
    margin-bottom: 1em;
    font-size: 1rem;
}

ul::after {
    clear: both;
    content: "";
    display: table;
}

ul li {
    width: 25%;
    float: left;
    padding: 16px 0;
    text-align: center;
    border-radius: .25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

ul li:hover {
    background: #dbdbdb;
}

ul p,
ul em,
ul input {
    display: inline-block;
    font-size: 0.7rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

ul p {
    padding: 10px;
    margin-top: 10px;
}

ul p::selection,
ul em::selection {
    background: #766acf;
    color: #efefef;
}

ul em {
    margin-bottom: 8px;
}

ul em::before {
    content: '[';
}

ul em::after {
    content: ']';
}

ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

@media only screen and (min-width: 768px) {
    ul li {
        width: 20%;
        float: left;
    }
}

@media only screen and (min-width: 1024px) {
    ul li {
        width: 12.5%;
        float: left;
        padding: 32px 0;
    }
}

/* --------------------------------

Smart fixed navigation

-------------------------------- */
.now-ui-icons {
    display: inline-block;
    font: normal normal normal 32px/1 'Nucleo Outline';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
