<div class="wrapper">
  <div class="page-header page-header-small">
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
      </div>
      <div class="container">
          <div class="content-center">
            <h1 class="heading mb-3">Buy & Sell Piantings <br> With <span class="text-primary">: Image Drive</span>
            </h1>
            <p class="para-desc text-muted">Image Drive helps you follow your passion. Search image for purchase or Upload image for sell.</p>
              <div class="subcribe-form mt-4 pt-2">
                <form class="m-0">
                  <div class="form-group">
                    <input type="text" id="course" name="name" class="rounded" placeholder="Search your course">
                    <button type="submit" class="btn btn-primary">Search
                      <i name="search" class="fea icon-sm"></i>
                    </button>
                  </div>
                </form>
                <!--end form-->
              </div>
          </div>
      </div>
  </div>
  <!-- Section 1 End -->
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Who we are?</h2>
                  <h5 class="description">We sell ‘Hobby items’. During this period, most of us wanted to have a hobby to stay out of all the research stuff.
                    So, some started singing songs and then recording them. Some started painting, sewing, and knitting.
                    Every weekend we build one of these products alternatively. Now, some don’t have any place in room to keep those.
                    And as they have created those with care, they are not willing to destroy those.
                    We believe there exist so many people who have a hobby but are not willing to make those their main professions. So we buy and sell ‘Hobby items’ </h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('assets/img/login.jpg')">
                          <!-- First image on the left side -->
                          <p class="blockquote blockquote-primary">"As I work at my drawings, day after day, what seemed unattainable before is now gradually becoming possible. Slowly, I'm learning to observe and measure. I don't stand quite so helpless before nature any longer."
                              <br>
                              <br>
                              <small>-Vincent van Gogh</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('assets/img/bg3.jpg')"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('assets/img/bg1.jpg')"></div>
                      <h3>To my mind a picture should be something pleasant, cheerful and pretty. There are too many unpleasant things in life as it is, without creating still more of them.
                        ―  Pierre-Auguste Renoir</h3>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

