<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Product Create Form </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a routerLink="/index">IMAGE DRIVE</a></li>
                <li class="breadcrumb-item"><a href="#">SHOP</a></li>
                <li class="breadcrumb-item active" aria-current="page">ADD Products</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Job apply form Start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-7">
        <div class="card custom-form border-0">
          <div class="card-body">
            <form class="rounded shadow p-4" [formGroup]="productForm" (ngSubmit)="submitForm()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Your Name :<span class="text-danger">*</span></label>
                    <i name="user" class="fea icon-sm icons"></i>
                    <input type="text" class="form-control pl-5" placeholder="First Name :" formControlName="name">
                  </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Product Price :<span class="text-danger">*</span></label>
                    <i name="phone" class="fea icon-sm icons"></i>
                    <input name="price" id="price" type="number" class="form-control pl-5"
                      placeholder="The products price :" formControlName="price">
                  </div>
                </div>
                <!--end col-->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Types of products :</label>
                    <select class="form-control custom-select" (change)="updateProduct($event)" formControlName="category">
                      <option>All products</option>
                      <option *ngFor="let categoryProduct of CategoryProduct" value="{{categoryProduct}}">{{categoryProduct}}
                      </option>
                    </select>


                  </div>
                </div>
                <!--end col-->
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Description :</label>
                    <i name="message-circle" class="fea icon-sm icons"></i>
                    <textarea rows="4" class="form-control pl-5"
                      placeholder="Describe the job :" formControlName="description"></textarea>
                  </div>
                </div>
                <!--end col-->
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Upload Product Image :</label>
                    <input type="file" class="form-control-file" (change)="uploadFile($event)">
                  </div>
                </div>
                <!--end
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">I Accept <a href="#"
                          class="text-primary">Terms And Condition</a></label>
                    </div>
                  </div>
                </div>
                col-->
              </div>
              <!--end row-->
              <div class="row">
                <div class="col-sm-12">
                  <button class="submitBnt btn btn-primary" (click)="open(pi,'Create Product' , '')">
                    Create Product
                  </button>
                  <ng-template #pi let-c="close" let-d="dismiss">
                    <div class="modal-content bg-gradient-danger">
                      <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="py-3 text-center">
                          <i class="ni ni-bell-55 ni-3x"></i>
                          <h4 class="heading mt-4">Congratulations!</h4>
                          <p>You have uploaded a product successfully.</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#home" class="btn btn-white">Ok, Got it</a>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
            <!--end form-->
          </div>
        </div>
        <!--end custom-form-->
      </div>
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Job apply form End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [routerLink]="'/home'">
  <i name="arrow-up" class="icons"></i>
</a>
<!-- Back to top -->
