<footer class="footer footer-default">
  <div class="container">
      <nav>
          <ul>
            <li>
              <a href="www.linkedin.com/in/rafflesia-khan-164b0781">
                  Rafflesia Khan
              </a>
            </li>
            <li>
              <a href="/aboutus">
                  About Us
              </a>
            </li>
            <li>
              <a href="/list-artist">
                  Meet The Artist
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com">
                  Style Sheets from Creative Tim
              </a>
            </li>
          </ul>
      </nav>
      <div class="copyright">
        &copy;
      {{data | date: 'yyyy'}}, Welcome to
        <a href="/home" target="_blank">Image Drive</a>
      </div>
  </div>
</footer>
